.container
  .row
    form(class="form-inline")
      select(class="span2")
        option(value="81") Japan(+81)
      input(class="span4",id="prependedInput",type="text",placeholder="Phone Number")

      button(type="submit",class="btn") Search
